.header {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  background-color: #3a4750;
}

.userprofile-img {
  border-radius: 50%;
  height: 75%;
  width: auto;
  max-height: 4rem;
  margin-right: 1rem;
}
